.CollapsiblePanel {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	// max-width: 400px;
}
.border {
	border: 1px solid gray;
	background-color: #bebebe;
}
.title {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 8px;
	transition: all 0.3s;
	background-color: #bebebe;
	border: 1px solid gray;
	max-width: 400px;
	width: 100%; // 👈 Додано
	text-align: center; // 👈 щоб текст був по центру
	@media (any-hover: hover) {
		&:hover {
			border: 1px solid gray;
			background-color: #9e9e9e;
		}
	}
}
.children {
}
